@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


@mixin main-layout-padding(){
  padding: $main-layout-margin*0.8 $main-layout-margin $main-layout-margin*0.8 $main-layout-margin;
}


@mixin text-layout-padding(){
  padding: 0 $main-layout-margin 0 $main-layout-margin;
}