

// ***********************************************************************
// Font sizes

@mixin xsmall-font-size()   { font-size:   $xsmall-font-size;   line-height: $xsmall-line-height;   }
@mixin small-font-size()    { font-size:   $small-font-size;    line-height: $small-line-height;    }
@mixin normal-font-size()   { font-size:   $normal-font-size;   line-height: $normal-line-height;   }
@mixin xnormal-font-size()  { font-size:   $xnormal-font-size;  line-height: $xnormal-line-height;  }
@mixin big-font-size()      { font-size:   $big-font-size;      line-height: $big-line-height;      }
@mixin xbig-font-size()     { font-size:   $xbig-font-size;     line-height: $xbig-line-height;     }
@mixin large-font-size()    { font-size:   $large-font-size;    line-height: $large-line-height;    }
@mixin xlarge-font-size()   { font-size:   $xlarge-font-size;   line-height: $xlarge-line-height;   }
@mixin xxlarge-font-size()  { font-size:   $xxlarge-font-size;  line-height: $xxlarge-line-height;  }


// ***********************************************************************
// Font weight

@mixin xbold-font-weight()  { font-weight: 900;    }
@mixin bold-font-weight()   { font-weight: bold;   }
@mixin normal-font-weight() { font-weight: normal; }
@mixin light-font-weight()  { font-weight: 300;    }


// ***********************************************************************
// Headers and <p>

h1 { 
	@include large-font-size();
	@include xbold-font-weight();
  color: $color-dust-grey;
	margin: 0 0 $big-font-size 0; 
}

h2 { 
	@include xbig-font-size();
	@include xbold-font-weight();
  color: $color-dust-grey;
	margin: $xnormal-font-size 0 $big-font-size 0;
}

h3 { 
	@include big-font-size();
	@include xbold-font-weight();
  color: $color-dust-grey;
	margin: $normal-font-size 0 $big-font-size 0;
}

h4 { 
	@include big-font-size();
	@include normal-font-weight();
  color: $color-dust-grey;
	margin: 0 0 $big-font-size 0;
}

h5 { 
	@include xnormal-font-size();
	@include normal-font-weight();
  color: $color-dust-grey;
	margin: 0 0 $big-font-size 0;
}

h5 { 
	@include normal-font-size();
	@include bold-font-weight();
  color: $color-dust-grey;
	margin: 0 0 $big-font-size 0;
}

p{
  margin-bottom: $normal-line-height;
}


// ***********************************************************************
// Alignment

.text-left           { text-align: left;    }
.text-right          { text-align: right;   }
.text-center         { text-align: center;  }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }


// ***********************************************************************
// Icons font
@font-face {
  font-family: 'Akademservis-font';
  src:url('../fonts/Akademservis-font.eot?-xliaka');
  src:url('../fonts/Akademservis-font.eot?#iefix-xliaka') format('embedded-opentype'),
    url('../fonts/Akademservis-font.ttf?-xliaka') format('truetype'),
    url('../fonts/Akademservis-font.woff?-xliaka') format('woff'),
    url('../fonts/Akademservis-font.svg?-xliaka#Akademservis-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Akademservis-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-svg-video:before {
  content: "\e600";
}
.icon-svg-brain:before {
  content: "\e601";
}
.icon-svg-costume:before {
  content: "\e602";
}
.icon-svg-deal:before {
  content: "\e603";
}
.icon-svg-delivery:before {
  content: "\e604";
}
.icon-svg-people:before {
  content: "\e605";
}
.icon-svg-photo:before {
  content: "\e606";
}

