
@mixin normal-font-size($weight: $base-font-weight) {
  font-weight: $weight;
  font-size:   $normal-font-size;
  line-height: $normal-line-height;
  font-family: $base-font-family;
}

@mixin xnormal-font-size($weight: $base-font-weight) {
  font-weight: $weight;
  font-size:   $xnormal-font-size;
  line-height: $xnormal-line-height;
  font-family: $base-font-family;
}

@mixin big-font-size($weight: $base-font-weight) {
  font-weight: $weight;
  font-size:   $big-font-size;
  line-height: $big-line-height;
  font-family: $base-font-family;
}

@mixin xbig-font-size($weight: $base-font-weight) {
  font-weight: $weight;
  font-size:   $xbig-font-size;
  line-height: $xbig-line-height;
  font-family: $base-font-family;
}

@mixin large-font-size($weight: $base-font-weight) {
  font-weight: $weight;
  font-size:   $large-font-size;
  line-height: $large-line-height;
  font-family: $base-font-family;
}

@mixin xlarge-font-size($weight: $base-font-weight) {
  font-weight: $weight;
  font-size:   $xlarge-font-size;
  line-height: $xlarge-line-height;
  font-family: $base-font-family;
}






h3 {
  @include xbig-font-size(300);
}

strong{
  font-weight: bolder;
}


// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }









// Icons
@font-face {
  font-family: 'Akademservis-font';
  src:url('../fonts/Akademservis-font.eot?-xliaka');
  src:url('../fonts/Akademservis-font.eot?#iefix-xliaka') format('embedded-opentype'),
    url('../fonts/Akademservis-font.ttf?-xliaka') format('truetype'),
    url('../fonts/Akademservis-font.woff?-xliaka') format('woff'),
    url('../fonts/Akademservis-font.svg?-xliaka#Akademservis-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Akademservis-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svg-video:before {
  content: "\e600";
}
.icon-svg-brain:before {
  content: "\e601";
}
.icon-svg-costume:before {
  content: "\e602";
}
.icon-svg-deal:before {
  content: "\e603";
}
.icon-svg-delivery:before {
  content: "\e604";
}
.icon-svg-people:before {
  content: "\e605";
}
.icon-svg-photo:before {
  content: "\e606";
}




