

// ---------------------------------------------------------------
// Greyscalse
$color-silver-grey:     #666666;
$color-space-black:     #222222;


// ---------------------------------------------------------------
// Colours 
$color-rose:             #d52e4a;
$color-carrot:           #ec5955;
$color-vine:             #bf3e4c;


// ---------------------------------------------------------------
// Gradient Mixins

@mixin gradient_carrot() { 
	background: rgb(239,95,90);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNWY1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzU0NGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(239,95,90,1) 0%, rgba(231,84,79,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,95,90,1)), color-stop(100%,rgba(231,84,79,1)));
	background: -webkit-linear-gradient(top,  rgba(239,95,90,1) 0%,rgba(231,84,79,1) 100%);
	background: -o-linear-gradient(top,  rgba(239,95,90,1) 0%,rgba(231,84,79,1) 100%);
	background: -ms-linear-gradient(top,  rgba(239,95,90,1) 0%,rgba(231,84,79,1) 100%);
	background: linear-gradient(to bottom,  rgba(239,95,90,1) 0%,rgba(231,84,79,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5f5a', endColorstr='#e7544f',GradientType=0 );    
}
.gradient_carrot { @include gradient_carrot(); }




// ---------------------------------------------------------------
// Additional
$anchor-color:          #ddd;
$anchor-hover-color:    #ddd;
 

// ---------------------------------------------------------------
// Mesurements
$Footer-height:         300px;
$height-main-nav:       120px;   
$site-max-width:        1060px; 


// ---------------------------------------------------------------  
// Typography 
$normal-font-size:      15px;  $normal-line-height:    21px;
$xnormal-font-size:     19px;  $xnormal-line-height:   26px;
$big-font-size:         23px;  $big-line-height:       33px;
$xbig-font-size:        29px;  $xbig-line-height:      41px;
$large-font-size:       37px;  $large-line-height:     51px;
$xlarge-font-size:      46px;  $xlarge-line-height:    63px; 

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900&subset=latin,cyrillic-ext,cyrillic);
$base-font-family:      'Roboto', Helvetica, Arial, sans-serif;
$base-font-weight:      normal;








