

// ---------------------------------------------------------------
// Greyscalse
$color-stone-grey:      #e8e8e8;
$color-silver-grey:     #666666;
$color-dust-gray:       #474747;
$color-space-black:     #222222;
$color-mobile-menu-bg:  #111111;


// ---------------------------------------------------------------
// Colours 
$color-rose:            #d52e4a;
$color-carrot:          #ec5955;
$color-vine:            #bf3e4c;

// ---------------------------------------------------------------
// Additional
$anchor-color:          #2c7fac;
$anchor-hover-color:    #384b56;
 

// ---------------------------------------------------------------
// Mesurements
$Footer-height:         300px;
$height-main-nav:       120px;  

$small-layout-margin:	25px;  // *1.6
$main-layout-margin:	40px;
$medium-layout-margin:	64px;  // *1.6
$long-layout-margin:	102px; // *1.6


// ---------------------------------------------------------------  
// Typography 
$normal-font-size:      15px;  $normal-line-height:    21px;
$xnormal-font-size:     19px;  $xnormal-line-height:   26px;
$big-font-size:         23px;  $big-line-height:       33px;
$xbig-font-size:        29px;  $xbig-line-height:      41px;
$large-font-size:       37px;  $large-line-height:     45px;
$xlarge-font-size:      46px;  $xlarge-line-height:    50px; 
$xxlarge-font-size:     66px;  $xxlarge-line-height:   66px; // ???

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900&subset=latin,cyrillic-ext,cyrillic);
$base-font-family:      'Roboto', Helvetica, Arial, sans-serif;




















