

// ---------------------------------------------------------------
// Greyscalse
$color-silver-grey:     #666666;
$color-space-black:     #222222;


// ---------------------------------------------------------------
// Colours 
$color-red:             #d52e4a;







// ---------------------------------------------------------------
// Additional
$anchor-color:          #ddd;
$anchor-hover-color:    #ddd;
 

// ---------------------------------------------------------------
// Mesurements
$Footer-height:         300px;
$height-main-nav:       120px;   
$site-max-width:        1060px; 


// ---------------------------------------------------------------  
// Typography 
$normal-font-size:      15px;  $normal-line-height:    21px;
$xnormal-font-size:     19px;  $xnormal-line-height:   26px;
$big-font-size:         23px;  $big-line-height:       33px;
$xbig-font-size:        29px;  $xbig-line-height:      41px;
$large-font-size:       37px;  $large-line-height:     51px;
$xlarge-font-size:      46px;  $xlarge-line-height:    63px; 

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900&subset=latin,cyrillic-ext,cyrillic);
$base-font-family:      'Roboto', Helvetica, Arial, sans-serif;
$base-font-weight:      normal;
