

.breadcrumbs{
	background: $color-shadow-black;
	border-top: 1px solid #292929;
	@include xsmall-font-size(); 

	.container{
		padding-top: 10px;
		padding-bottom: 14px;
	}

	a{
		text-decoration: none;
	}

}