

.jumbotron{
	height: 690px;
	width: 100%;
	overflow: hidden; 
	background: #a58994 url('../img/jumbo-bg.jpg') center no-repeat;
	background-size: cover;

	.jumbotron-info-block{
		margin: $medium-layout-margin $main-layout-margin 0 $main-layout-margin;
		@include transition(all, 0.5s, ease-in-out);			

		h1{
			color:#fff;
			font-weight: 900;			
			@include transition(all, 0.5s, ease-in-out);	
			@include xxlarge-font-size();
			margin: 0;			
		}
		
		a{
			margin: 20px 0 0 0;
			display: inline-block;			
			color:#fff;	
			position: relative;
			

			&:after{
				content: "...";
			}

			.jumbotron-icon{
				position: relative;
				padding-left: 28px;

				&:before{			
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					font-size: 20px;
				}
			}
			
		}
	}




	// tablet-portrait-and-below
	@include tablet-portrait-and-below{
		height: 490px;

		.jumbotron-info-block{
			h1{
				@include xlarge-font-size();		
			}
		}
	}




	// mobile-landscape-and-below
	@include mobile-landscape-and-below{
		height: 390px;
		.jumbotron-info-block{
			margin: $small-layout-margin 0 0;
			
			h1{
				@include large-font-size();						
			}
		}
	}



}


