.promo-block{	
	color: #fff;
	display: table;
	@include light-font-weight();
	@include tablet-portrait-and-below{
		display: block;
	}

	.promo-cell{		
		@include main-layout-padding();
		display: table-cell;
		width: 33.33333%;
		min-width: 33.33333%;

		@include tablet-portrait-and-below{
			display: block;
			width: 100%;
		}
	}

	.promo-cell1{ background: $color-carrot; }
	.promo-cell2{ background: $color-rose;   }
	.promo-cell3{ background: $color-vine;   }	

	a.link-to-page{
		color:#fff;		
		text-decoration: none;		
		border-bottom: 1px solid #fff;
		@include big-font-size(); 		

		&:hover{
			color: #fff;
			text-decoration: none;
			border-bottom: 0px;
		}
	}

	.price{
		display: block;		
		margin-top: -5px;
		@include xlarge-font-size();		
		@include xbold-font-weight();
		@include tablet-landscape-and-below{
		    @include large-font-size();
		}  				
	}

	p{		
		margin: 15px 0 0;
		@include normal-font-size(); 
	}
}

.promo-block-minus-margin{ 
	margin: -45px auto $medium-layout-margin auto;  
}