


.services-block{

	.services-cell{
		@include main-layout-padding();

		.sevices-heading{
			position: relative;
			color: $color-dust-grey;
			margin: 0 0 5px;
			@include xnormal-font-size();
		}

		.services-icon{
			position: absolute;
			top: -3px;
			left: -40px;
			font-size: 32px;
		}

		p{
			margin: 0;
		}
	}
}