
.welcome-message{

	.row{
		border-bottom: 1px solid $color-stone-grey;
		padding-bottom: $small-layout-margin;
		margin-bottom: $small-layout-margin; 	
	}

	.welcome-header{
		width: 85%;
		margin: 0 auto 0 auto;
		@include light-font-weight();
		color: $color-steel-grey;
	}
	
}   