// ---------------------------------------------------------------
// Footer

.site-footer {
  background-color: $color-space-black;
  height: $Footer-height; 

	/*.container {
		width: 100%;
		max-width: 1060px;
	}*/
}