::selection, ::-moz-selection { 
	background: #038cd6; 
}

*{
	outline:none;     
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}  
   
html{	
	height:100%;
}
	
body{	
	height: 100%;
	min-width: 320px;
	color: $color-silver-grey;
	font-family: $base-font-family;
	@include normal-font-size();	
}
	
a, a:visited, a:active{
	color: $anchor-color;
	text-decoration: underline;
}

a:hover{
	color: $anchor-hover-color;
	text-decoration: none;
}

.clearfix { @include clearfix(); } 




// ---------------------------------------------------------------
// Global and main elements
// ---------------------------------------------------------------


// We use it to make sticky footer
.site-wrap {
	width: 100%;
	min-height: 100%;  
	margin-bottom: -$Footer-height; 	

	&:after{
		content: "";
		display: block;
		height: $Footer-height; 
	}
}

.container {
	padding: 0 $small-layout-margin 0 $small-layout-margin;
}