

.jumbotron{
	height: 690px;
	width: 100%;
	overflow: hidden; 
	background: #a58994 url('../img/jumbo-bg.jpg') center no-repeat;
	background-size: cover;

	.jumbotron-info-block{
		margin: $medium-layout-margin $main-layout-margin 0 $main-layout-margin;		

		h1{
			color:#fff;
			font-size: 66px;
			line-height: 66px; 
			font-weight: 900;			
		}
		
		a{
			margin: 15px 0 0 0;
			display: inline-block;			
			color:#fff;	
			position: relative;
			

			&:after{
				content: "...";
			}

			.jumbotron-icon{
				position: relative;
				padding-left: 28px;

				&:before{			
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					font-size: 20px;
				}
			}
			
		}
	}
}