

.jumbotrone{
	height: 490px;
	width: 100%;
	overflow: hidden; 
	background: #a58994 url('../img/jumbo-bg.jpg') center no-repeat;
	background-size: cover;

	.jumbotrone-info-block{
		margin: $medium-layout-margin $main-layout-margin 0 $main-layout-margin;

		h1{
			color:#fff;
			font-size: 66px;
			line-height: 66px; 
			font-weight: 900;			
		}
		
		a{
			margin: 15px 0 0 0;
			display: inline-block;			
			color:#fff;					

			&:after{
				content: "...";
			}
		}
	}
}