.promo-block{	
	color:#fff;

	.promo-cell1, .promo-cell2, .promo-cell3{		
		padding: $main-layout-margin - 8px $main-layout-margin $main-layout-margin - 8px $main-layout-margin;
	}

	.promo-cell1{ background: $color-carrot; }
	.promo-cell2{ background: $color-rose;   }
	.promo-cell3{ background: $color-vine;   }	

	a.link-to-page{
		color:#fff;		
		text-decoration: none;		
		border-bottom: 1px solid #fff;
		@include big-font-size(300); 

		&:hover{
			color: #fff;
			text-decoration: none;
			border-bottom: 0px;
		}
	}

	.price{
		display: block;		
		margin-top: -5px;
		@include xlarge-font-size(900); 
	}

	p{		
		margin-top: 15px;
		@include normal-font-size(300); 
	}
}

.promo-block-minus-margin{ 
	margin: -45px auto $long-layout-margin auto;  
}