.promo-block{	
	color:#fff;

	.promo-cell1{background: $color-carrot; }
	.promo-cell2{background: $color-rose;   }
	.promo-cell3{background: $color-vine;   }

	.promo-cell1, .promo-cell2, .promo-cell3{
		min-height: 240px;
	}

	a{
		color:#fff;

		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
}

.promo-block-minus-margin{
	margin-top: -45px;
}